body {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  background-color: white;
  border-bottom: 1px lightgray solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.app__welcome {
  background-color: white;
  border: solid 1px lightgray;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  padding: 20px;
  font-weight: normal;
}

.app__headerImage {
  object-fit: contain;
  width: 100px;
  margin-left: 10px;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}
.app__loginContainer {
  margin: 20px;
}
